.industry-list-container{
    width: 83%;
    margin: 0 auto 0 auto;
    margin-top: 10%;
}

.industry-list-row{
    margin-top: 5%;
}

.industry-label{
    height: 100%;
    margin-top: 5%;
    font-family: 'Lato-900-normal';
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #E74137;
    text-transform: uppercase;
}

/* =================================================== */
  
.industry-product-card-circle{
      position: relative;
      width: 100%;
      padding: 3em 1.5em 1em 1.5em;
  }

.industry-product-card-img-1{
    position:absolute;
    top:-10%;
    width: 70%;
}
  
.industry-product-card-img-2{
    position:absolute;
    top:8%;
    left:25%;
    width: 70%;
}

.industry-product-card-img-3{
    position:absolute;
    top:15%;
    margin-right: 20%;
    width: 90%;
}

.industry-product-card-img-4{
    position:absolute;
    top:17%;
    margin-right: 5%;
    width: 100%;
}

.industry-product-card-img-5{
    position:absolute;
    top:15%;
    margin-right: 10%;
}

.industry-product-card-img-6{
    position:absolute;
    margin-top: 25%;
}
  
  .industry-product-card{
      align-items: center;
      text-align: center;
      border: none;
  }

  .industry-product-card:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #E74137;
}


.product-name{
    font-family: 'Raleway-600-normal';
    font-size: 20px;
    line-height: 23px;
}

.industry-product-card:hover .product-name{
    color: #E74137;
}

.ipc-img{
    width: 80%;
}

.industry-list-row{
    text-align: -webkit-center;
}

@media screen and (max-width:1300px) {
    .industry-list-row{
        display: block;
    }
    .industry-list-col-blocks{
        width: 100%;
    }
    .industry-product-card-img-1{
        position:absolute;
        top:-10%;
        width: 70%;
    }
    .industry-product-card-img-2{
        position:absolute;
        width: 70%;
    }
    .industry-product-card-img-5{
        position:absolute;
        top:18%;
        width: 80%;
    }
    .industry-product-card-img-6{
        position:absolute;
        top:-5%;
        width: 70%;
    }
}

@media screen and (max-width:1366px) {
    .industry-product-card-img-5{
        top: 12%;
    }
}

@media screen and (max-width:691px) {
    .industry-list-row{
        margin-top: 100px;
    }
}