.industry-list-container{
    width: 83%;
    margin: 0 auto 0 auto;
    margin-top: 10%;
}

.industry-list-row{
    margin-top: 5%;
}

.industry-label{
    height: 100%;
    margin-top: 5%;
    font-family: 'Lato-900-normal';
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #E74137;
    text-transform: uppercase;
}

/* =================================================== */
  
.industry-product-card-circle{
      height: 150px;
      float: left;
  }

  .industry-product-card{
      align-items: center;
      text-align: center;
      border: none;
      height: 177px;
      width: 100%;
  }

  .industry-product-card:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #E74137;
}


.product-name{
    font-family: 'Raleway-600-normal';
    font-size: 20px;
    line-height: 23px;
}

.industry-product-card:hover .product-name{
    color: #E74137;
}

.industry-list-row{
    text-align: -webkit-center;
}

@media screen and (max-width:1124px) {
    .industry-list-row{
        display: block;
    }

    .industry-list-col{
        width: 83%;
    }

    .industry-product-card.card .row.row-cols-md-2{
        margin: auto;
    }

    .card-body{
        margin: auto;
    }
}


@media screen and (max-width:767px) {
    .industry-list-col{
        width: 100%;
        display: block;
    }
    .industry-product-card.card .row.row-cols-md-2{
        display: block;
    }
}

@media screen and (max-width:576px) {
    .industry-product-card-circle{
        height: 120px;
        float: left;
    }
    .card-text{
        /* display: none; */
    }
    .industry-list-container{
        width:98%;
    }
    .industry-list-col.col div.row{
        --bs-gutter-x:none;
        --bs-gutter-y:none;
    }
}

@media screen and (max-width:444px) {
    .industry-product-card-circle{
        height: 100px;
        float: left;
    }
    .card-text{
        display: none;
    }
}

/* @media screen and (max-width:1366px) {
    .industry-product-card-img-5{
        top: 12%;
    }
}

@media screen and (max-width:691px) {
    .industry-list-row{
        margin-top: 100px;
    }
}

@media screen and (max-width:514px) {
    .industry-list-container{
        width: 100%;
        overflow-x: hidden;
    }

    .industry-list-row-blocks .col{
        width: 80%;
        --bs-gutter-x: 0.7rem;
    }

    .industry-list-row-blocks{
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width:426px) {
    .industry-list-row-blocks .col{
        width: 20%;
    }
    .industry-list-container .product-name{
        font-size: 16px;
        line-height: 18px;
    }
    .industry-list-container .card-text{
        font-size: 14px;
    }
} */

/*------------------------- changed design ---------------------------*/

.product-card-body{
    margin:auto;
}