.industry-list-container{
    width: 83%;
    margin: 0 auto 0 auto;
    margin-top: 10%;
}

.industry-list-row{
    margin-top: 5%;
}

.industry-label{
    height: 100%;
    margin-top: 5%;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #E74137;
}

.industry-block{
    text-align: center;
}

.industry-block:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #E74137;
}

.industry-block:hover .industry-name{
    color: #E74137;;
}

/* =================================================== */

.industry-images .product-card-image-industry{
    position: relative;
    width: 100%;
    height: auto;
}

.industry-images .product-card-image-industry-2{
    position:absolute;
}

.industry-images{
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

.industry-name{
    font-size: 1.2em;
    font-weight: 700;
}