.product-page-container{
    width: 83%;
    margin: 0 auto;
    padding: 0 0 6em 0;
    background-image: url('../../backCab.png');
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.product-page-row{
	margin-top: 50px;
    justify-content: center;
}

.product-page-container .product:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #E74137;
}

.product-page-container .product:hover  {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #E74137;
}

.product-page-container .cardImg{
    /* width: 70%; */
    height: auto;
    margin: 0 auto;
}

.product-page-container .product{
    padding: 0 0;
    text-align: center;
}

.product-page-container .drop-buttons{
    background: #CDDBEC;
    border: none;
    color: black;
    width: 100% !important;
    text-align: left;
}

.product-page-container .product-carousel-card-body{
    padding: 1rem 1em;
}

.product-page-container .drop-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
}

.product-page-container .nav-tabs{
    border: none;
}

.product-page-container .nav-tabs .nav-link.active{
    border: none;
    background: #CDDBEC;
}

.product-page-container .show>.btn-primary.dropdown-toggle {
    color: black;
    background: #CDDBEC !important;
}

.product-page-container .productsLabel{
    color: #E74137;
    font-size: 2em;
    font-weight: 900;
    font-style: normal;
    text-align: left;
    margin-left: 14%;
}

.product-page-container .cardsBlock{
    margin-top: 20px;
}

.product-page-container .cardsTab{
    margin-top: 5%;
}

.product-page-container .cardsBlock{
    margin-left: 10%;
}

.mt-1{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.product-page-container .nav-tabs .nav-link, .product-page-container .nav-tabs .nav-link.active{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

@media screen and (max-width:1200px) {
    .product-page-row{
        display: block;
    }
    .productsLabel{
        width: 100%;
        text-align: center !important;
        margin: 0 !important;
    }
    .products{
        width: 100%;
        margin-top: 5%;
    }
    .product-menu{
        width: 100%;
    }
}

.product:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #E74137;
}

.product:hover .product-name{
    color: #E74137;
}

.custom-link{
    color: rgb(0, 0, 0) !important;
    text-decoration: none !important;
}

.drop-menu.dropdown-menu.show{
    position: relative !important;
    transform: none !important; 
    margin-top: 2px !important;
    background: #EBEEF2;
}

.drop-menu.dropdown-menu.show a.dropdown-item:hover{
    color: #E74137;
    background: #EBEEF2;
}

.drop-menu.dropdown-menu.show a.dropdown-item{
    white-space: normal;
}

.dropdown-toggle::after {
    display: none;
}

.product-carousel-round-2{
  display: none;
}

.product:hover .product-carousel-round{
  display: none;
}

.product:hover .product-carousel-round-2{
  display:inline-block;
}

.product{
    align-items: center;
}

.product-type-link{
    color: #000;
    text-decoration: none
}

.product-type-link:hover{
    color: #E74137;
}

.product-card-label{
    font-family: 'Raleway-600-normal';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #343753;
}

.products .industry-product-card .card-body{
    text-align: left;
}

.products .custom-link{
    padding-right: 0;
}

@media screen and (max-width:1600px) {
    .products .industry-product-card-circle{
        height: 110px;
    }
    .products .card-text{
        font-size: 16px;
        line-height: 15px;
    }
    .products .product-name{
        font-size: 18px;
    }
    .products .industry-product-card{
        width: 96%;
    }
}

@media screen and (max-width:1124px) {
    .products .industry-list-row{
        display: block;
    }

    .products .industry-list-col{
        width: 83%;
    }

    .products .industry-product-card.card .row.row-cols-md-2{
        margin: auto;
    }
    .products .card-body{
        margin: auto;
    }
    .products .industry-label{
        font-size: 28px;
    }
    .products .industry-product-card{
        margin-top: 10px;
    }
}


@media screen and (max-width:767px) {
    .products .industry-list-col{
        width: 100% ;
        display: block;
    }
    .products .industry-product-card.card .row.row-cols-md-2{
        display: block;
    }
    .products .card-body{
        padding: 2em 1em;
    }
}

@media screen and (max-width:576px) {
    .products .industry-product-card-circle{
        height: 120px;
        float: left;
    }
    .products .industry-list-container{
        width:96%;
    }
    .products .industry-list-col.col div.row{
        /* --bs-gutter-x:none   ; */
        --bs-gutter-y:none;
    }
    .products .custom-link{
        padding-left: 0;
    }
}

@media screen and (max-width:444px) {
    .products .industry-product-card-circle{
        height: 100px;
        float: left;
    }
    .products .card-text{
        display: none;
    }
    .products .industry-product-card{
        height: 110px;
    }
    /* .card-body{
        margin-top: 20px;
    } */
    .products .product-name{
        font-size: 14px;
    }
    .products .industry-label{
        font-size: 24px;
    }
}

