.product-carousel-container{
  width: 83%;
  text-align: center;
  margin: 80px auto 0 auto;
}

.product-carousel .carousel-indicators{
    justify-content: center !important;
    background:none;
    backdrop-filter: none;
  }
  
 .product-carousel .carousel-indicators button{
    width: 23px !important;
    border-radius: 200px;
    background: #343753 !important;
  }

.product-carousel .carousel-item{
    padding: 0em 0;
}

.product-carousel .carousel-item .row{
    /* padding: 0em 0em 6em 0em; */
    width: 83%;
    margin: 0 auto;
}

.product-carousel .card-body{
    text-align: center;
}

.product-carousel .carousel-control-prev-icon{
    display: none;
  }
  
.product-carousel .carousel-control-next-icon{
    display: none;
  }

.catalogButton{
    width: 100% !important;
    text-align: center;
}
.catalogButton .cB{
    background: #E74137;
    border-radius: 50px !important;
    margin-top: 100px;
    width: 298px;
    height: 95px;
    font-family: 'Raleway-700-normal';
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.productLabel{
  text-align: center;
  width: 100%;
  color: #E74137;
  font-family: 'Lato-900-normal';
  font-size: 36px;
  line-height: 43px;
}

.product-carousel-round-2{
  display: none;
}

.product-carousel-card{
  z-index: 0;
  border: none;
}

.round-image{
  /* padding: 1em; */
  margin-top: 20px;
}

.product-carousel-card:hover .product-carousel-round{
  display: none;
}

.product-carousel-card:hover{
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #E74137;
}

.product-carousel-card:hover .card-title{
  color: #E74137;
}

.product-carousel-card:hover .product-carousel-round-2{
  display:inline-block;
}

.product-carousel-row{
  margin-top: 50px;
}

.product-carousel-card{
  /* width: 83%; */
  height: auto;
  margin: 0 auto;
}

.product-carousel-card-body{
  padding: 1rem 1em;
}

@media screen and (max-width:1200px) {
  .product-carousel-col{
    flex: 0;
  }
  .product-carousel-container{
    width: 100%;
    text-align: center;
  }
  .product-carousel-row{
    justify-content:center;
  }
  .product-carousel-container .card-text{
    display: none;
  }
  .product-carousel-col{
    width: 50%;
  }
}

@media screen and (max-width:602px) {
  .product-carousel-container .card-title{
    font-size: 16px;
  }
  .catalogButton .cB{
    width: 278px;
    height: 75px;
    font-size: 16px;
    margin-top: 80px;
  }
}

@media screen and (max-width:354px) {
  .product-carousel-row{
    margin-left: 0;
  }
  .product-carousel-container .card-title{
    font-size: 14px;
  }
  .catalogButton .cB{
    width: 258px;
    height: 55px;
    font-size: 12px;
    margin-top: 60px;
  }
}