.clients-page-conteiner{
    width: 83%;
    margin: 0 auto;
    padding: 0 0 6em 0;
}

.clients-page-row{
    margin-top: 5%;
    text-align: center;
}

.clients-page-col{
    margin-top: 5%;;
}

.client-image{
    
}
