.custom-carousel .carousel-caption {
    top: 5%;
    left: 9% !important;
    text-align: left !important;
    color: #343753 !important;
  }

  .custom-carousel .carousel-caption div{
  width: 80%;
}

.custom-carousel .carousel-indicators{
  width: 83%;
  margin: 0px auto 0 auto;
  margin-bottom: -65px;
}

.custom-carousel .carousel-indicators button{
  width: 100%;
}

.custom-carousel .carousel-indicators li {
  /* text-indent: 0; */
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #a1a1a1;   
}
.custom-carousel .carousel-indicators .active {
  width: 100%;
  background-color: #E74137;
}

.custom-carousel .photoButton{
  background: #E74137;
  border-radius: 50px !important;
  width:238px;
  height:59px;
  font-family: 'Raleway-700-normal';
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 26px;
}

.custom-carousel .photoButton:hover{
  filter: drop-shadow(0px 15px 29px rgba(231, 65, 55, 0.51));
}

.custom-carousel .frontPic{
  height:100%;
}

.custom-carousel .carousel-control-prev, .custom-carousel .carousel-control-next{
  display: none;
}

.custom-carousel .control-block{
  background: rgba(244, 249, 255, 0.7);
  backdrop-filter: blur(40px);
  width: 83%;
  font-family: 'Lato-800-normal';
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
  color: #343753;
  margin: 0 auto;
  height: 132px;
  margin-top:-80px;
}

.control-block-row{
  height: 100%;
  align-items: center;
}

.custom-carousel .control-block-info{
  height: 87.34px;
  padding: 1em 1em 0 1.5em;
}

.control-block-info+.control-block-info{
  border-left: 2px solid #CECECE;
}

.custom-carousel p{
  font-family: 'Lato-800-normal';
  line-height: 64.03px;
  font-size: 48px;
  text-align: left !important;
}

.custom-carousel h5{
  font-family: 'Raleway-500-normal';
  font-size: 24px;
  line-height: 28px;
}

@media screen and (max-width:1110px) {
  .custom-carousel .control-block{
    display: none;
  }
  .custom-carousel p{
    text-align: left !important;
  }
  .custom-carousel .carousel-indicators{
    margin-bottom:20px;
    border-radius: 50px;
    justify-content: space-between;
  }
  .custom-carousel .carousel-indicators button,.custom-carousel .carousel-indicators button.active{
    height: 5px;
  }

}


@media screen and (max-width:843px) {
  .custom-carousel p{
    text-align: left !important;
    font-family: 'Lato-800-normal';
    line-height: 48.03px;
    font-size: 36px;
    text-align: left;
  }
  
  .custom-carousel h5{
    font-family: 'Raleway-500-normal';
    font-size: 18px;
    line-height: 28px;
  }
  
}

@media screen and (max-width:632px) {
  .custom-carousel p{
    text-align: left !important;
    font-family: 'Lato-800-normal';
    font-size: 28px;
  }
  
  .custom-carousel h5{
    font-family: 'Raleway-500-normal';
    font-size: 16px;
    line-height: 18px;
  }
  
}

@media screen and (max-width:500px) {
  .custom-carousel .carousel-caption{
    text-align: center !important;
    width: 100%;
    margin-top: 0 auto !important;
  }
  .custom-carousel p{
    font-family: 'Lato-800-normal';
    line-height: 40px;
    font-size: 28px;
    max-width: 100%;
    text-align: center !important;
    margin: 0 auto;
  }
  
  .custom-carousel h5{
    font-family: 'Raleway-500-normal';
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto;
  }

  .custom-carousel .carousel-indicators{
    margin-bottom:20px;
    border-radius: 50px;
  }
  .custom-carousel .carousel-indicators button,.custom-carousel .carousel-indicators button.active{
    height: 30px;
    width: 30px;
    border-radius: 100%;
  }
  
}