.carousel-caption {
    top: 5%;
    left: 9% !important;
    text-align: left !important;
    color: #343753 !important;
    font-size: 2em;
  }

.carousel-caption div{
  width: 80%;
  font-weight: 800;
  font-style: normal;
}

.carousel-indicators{
  border-radius: 50px;
  padding: 0.5em 3em !important;
  justify-content: space-between !important;
  background: rgba(244, 249, 255, 0.7);
  backdrop-filter: blur(40px);
}

.carousel-indicators button{
  width: 80px !important;
  border-radius: 200px;
  background: #333333 !important;
}

.carousel-indicators button.active{
  background: #E74137 !important;
}

/* check gradient */

.gradient {
	display: inline-block;
	position: relative;    
	line-height: 0;
}
.gradient:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to left, #99c8ca88, #ffffff);
	opacity: 0.8;
}

.photoButton{
  background: #E74137;
  border-radius: 50px !important;
  width:20%;
}

.photoButton:hover{
  filter: drop-shadow(0px 15px 29px rgba(231, 65, 55, 0.51));
}

.backPic{
  position: relative;
  top: 0;
  left: 0;
}

.frontPic{
  position: absolute;
  left: 28%;
  height: 440px;
  width: auto;
  bottom: 6px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  background: rgb(0, 0, 0);
  padding: 2em !important;
  border-radius: 36px;
}

.carousel-control-prev-icon{
  margin-right: 80px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon{
  margin-left: 80px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}