.searchBlock{
    text-align: center;
}

.searchBlock img{
    /* height: 179px; */
    /* height: auto; */
}

.searchImage{
    position: relative;
    top: 0;
    left: 0;
}

.searchButton{
    background: rgb(59, 59, 59);
    border: 1px solid red;
    width: 10%;
    height: 50px;
    position: absolute;
    margin-top: 68px;
    margin-left: -22%;
    border-radius: 8px;
}

.searchButton:hover{
    background: rgb(49, 49, 49);
    border: none;
}

.seacrhInput{
    background: rgb(41, 41, 41);
    border-bottom: 3px solid red;
    color: white;
    position: absolute;
    width: 42%;
    height: 50px;
    margin-top: 69px;
    left: 19%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 2em;
}