.quality-page-container{
    width: 83%;
    margin: 0 auto;
    padding: 0 0 6em 0;
}

.quality-page-info{
    margin-top: 5%;
}

.quality-page-text{
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.3em;
}

.quality-page-text span{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26.18px;
}

.quality-page-row{
    margin-top: 0px;
}

.indentation-blocks{
    padding: 3em 0;
}

.quality-image-section{
    text-align: center;
}

.quality-page-row{
    justify-content: center;
}

.quality-page-images{
    width: 150px;
    height: 212.15;
}