.banner{
    padding: 73px;
    max-width: 1462px;
    margin: 0 auto;
}

.banner div{
    margin: auto 0;
    color: black;
}

@media screen and (max-width: 1073px) {
    .icons{
        max-width: 400px !important;
        margin: 40px auto 0px auto  !important;
    }
  }

  @media screen and (max-width: 779px) {
    .sectionReception{
        margin: 40px 0px 0px 70px  !important;
    }
    .sectionSales{
        margin: 40px 0px 0px 70px  !important;
    }
    .icons{
        margin: 40px 0px 0px auto  !important;
    }
  }

  @media screen and (max-width: 767px) {
    .logo{
        text-align: center;
    }
    .icons{
        margin: 40px 0px 0px 0px  !important;
    }
  }

.boldText{
    font-weight: 700;
}

.phones{
    white-space: nowrap;
}

.icons{
    display: flex;
}

.icons img{
    margin: auto 0;   
}

.company-button{
    border: none;
    font: inherit;
    color: rgba(0,0,0,.55);
    background-color: transparent;
    height: 100% !important;
    padding: .5rem 0.5rem;
}

.company-button:hover{
    color:black;
    border: none;
    background-color: transparent;
}

.company-button:focus{
    color: black;
    outline: none;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.company-button:active{
    color: black;
    outline: none;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}