.banner{
    padding: 73px;
    max-width: 1462px;
    margin: 0 auto
}

.banner div{
    margin: auto 0;
    color: black;
}

@media screen and (max-width: 1073px) {
    .icons{
        /* background: green; */
        max-width: 400px !important;
        margin: 40px auto 0px auto  !important;
    }
  }

  @media screen and (max-width: 779px) {
    .sectionSales{
        margin: 40px 0px 0px 55px  !important;
    }
    .icons{
        margin: 40px 80px 0px auto  !important;
    }
  }

  @media screen and (max-width: 767px) {
    .sectionReception{
        margin: 30px auto 0px 20%  !important;
    }
    .sectionSales{
        margin: 20px auto 0px 20%  !important;
    }
  }

.boldText{
    font-weight: 700;
}

.phones{
    white-space: nowrap;
}

.icons{
    display: flex;
}

.icons img{
    margin: auto 0;   
}
