.banner{
    padding: 73px;
    max-width: 1462px;
    margin: 0 auto;
}

.banner div{
    margin: auto 0;
    color: black;
}

@media screen and (max-width: 1073px) {
    .icons{
        max-width: 400px !important;
        margin: 40px auto 0px auto  !important;
    }
  }

  @media screen and (max-width: 779px) {
    .sectionReception{
        margin: 40px 0px 0px 70px  !important;
    }
    .sectionSales{
        margin: 40px 0px 0px 70px  !important;
    }
    .icons{
        margin: 40px 0px 0px auto  !important;
    }
  }

  @media screen and (max-width: 767px) {
    .logo{
        text-align: center;
    }
    .icons{
        margin: 40px 0px 0px 0px  !important;
    }
  }

.boldText{
    font-weight: 700;
}

.phones{
    white-space: nowrap;
}

.icons{
    display: flex;
}

.icons img{
    margin: auto 0;   
}

.company-button{
    border: none;
    font: inherit;
    color: rgba(0,0,0,.55);
    background-color: transparent;
    height: 100% !important;
    padding: .5rem 0.5rem;
}

.company-button:hover{
    color:black;
    border: none;
    background-color: transparent;
}

.company-button:focus{
    color: black;
    outline: none;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.company-button:active{
    color: black;
    outline: none;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

nav.navbar-expand-lg.navbar-light div.container button.navbar-toggler{
    border: none;
}

.header-nav{
    font-family: 'Raleway-600-normal';
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

nav.navbar-expand-lg.navbar-light div.container button{
    margin:0 auto;
}

.autorize-link{
    text-transform: uppercase;
    color: black;
    font-size: 18px;
}

.register-link{
    text-transform: uppercase;
    color: black;
    font-size: 18px;
}

.autorize-link:hover, .register-link:hover{
    color: #E74137;
    text-decoration: underline;
}

.authorize-window-body{
    padding: 1em 5em;
    text-align: center;
}

.authorize-button-container{
    padding: 1em 0em;
}

.authorize-button{
    background-color:#E74137;
    width: 238px;
    height: 59px;
    border: none;
    border-radius: 50px;
}

@media screen and (max-width:464px) {
    .banner{
        display: none;
    }
    nav.navbar-expand-lg.navbar-light div.container button{
        margin:0;
    }
}

@media (max-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}
.navbar-collapse{
    margin-top: 20px;
    text-align: center;
}
}

.authorize-tabs{
    margin-top: 30px;
    padding: 0em 4em;
}

.authorize-tabs .nav-link, .authorize-tabs .nav-link-active{
    border:none;
    outline: none;
}

.authorize-tabs .nav-link{
    color: #212529;
    font-size: 18px;
}

.authorize-tabs .nav-link:hover{
    color: #E74137;
    text-decoration: underline;
}

.authorize-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #E74137;
}

.authorize-tabs .nav-link.active{
    background-color: #fff;
    color: #E74137;
}

.profile-button:focus{
    box-shadow:none;
}

.profile-button{
    color: black;
}

.profile-button:hover{
    color: #E74137;
}

.authorize-close-button{
    border: none;
}