.parent {
    position: relative;
    margin-top: 100px;
    width: 100%;
    overflow-x: hidden;
  }
  .banner-image-1{
    display: inline-block;
    position: relative;
  }

.bannerlbl{
    position: absolute;
    z-index: 1;
    width: 80%;
    text-align: center;
    /* margin-top: 200px; */
    margin-top:15%;
}

.bannerlbl .lbl{
    color:#E74137 !important;
    font-family: 'Lato-900-normal';
    font-size: 36px;
    line-height: 43px;
}

.bannerText{
  font-family: 'Raleway-600-normal';
    font-size: 36px;
    line-height: 42px;
    color: #343753;
    margin-right: 260px;
}

@media screen and (max-width:1200px) {
  .bannerlbl{
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin-top: 200px;
}

.bannerlbl .lbl{
    color:#E74137 !important;
    font-size: 1.5em;
    font-weight: 900;
    font-style: normal;
    line-height: 43px;
}

.bannerText{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 42px;
    color: #343753;
    margin-right: 0px !important;
}
}