.carousel-caption {
    top: 5%;
    left: 9% !important;
    /* width: 100% !important; */
    text-align: left !important;
    color: #343753 !important;
    font-size: 2em;
  }

.carousel-caption div{
  width: 80%;
  font-weight: 800;
  font-style: normal;
}

.carousel-item img{
  /* opacity: 0.6; */
}

/* check gradient */

.gradient {
	display: inline-block;
	position: relative;    
	line-height: 0;
}
.gradient:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to left, #ffffff77, #ffffffda);
	opacity: 0.8;
}

.photoButton{
  background: #E74137;
  border-radius: 50px;
  width:20%;
}