.carousel-caption {
    top: 5%;
    left: 9% !important;
    /* width: 100% !important; */
    text-align: left !important;
    color: #343753 !important;
    font-size: 2em;
  }

.carousel-caption div{
  width: 80%;
  font-weight: 800;
  font-style: normal;
}

.carousel-indicators{
  /* background: rgb(73, 3, 3); */
  border-radius: 50px;
  padding: 0.5em 3em !important;
  justify-content: space-between !important;
  background: rgba(244, 249, 255, 0.7);
  backdrop-filter: blur(40px);
}

.carousel-indicators button{
  width: 80px !important;
  border-radius: 200px;
  /* background: #E74137 !important; */
  background: #333333 !important;
}

.carousel-indicators button.active{
  background: #E74137 !important;
}

/* check gradient */

.gradient {
	display: inline-block;
	position: relative;    
	line-height: 0;
}
.gradient:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to left, #99c8ca88, #ffffff);
	opacity: 0.8;
}

.photoButton{
  background: #E74137;
  border-radius: 50px !important;
  width:20%;
}

.backPic{
  position: relative;
  top: 0;
  left: 0;
}

.frontPic{
  position: absolute;
  left: 28%;
  height: 440px;
  width: auto;
  bottom: 6px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  background: rgb(0, 0, 0);
  padding: 2em !important;
  border-radius: 36px;
  /* margin-top: 60%; */
}

.carousel-control-prev-icon{
  margin-right: 80px;
}

.carousel-control-next-icon{
  margin-left: 80px;
}