.management-page-container{
    width: 83%;
    margin: 0 auto;
    padding: 0 0 6em 0;
}

.human{
    border-radius: 5px;
    padding: 1em;
    text-align: center;
}

.human-name{
    text-transform: uppercase !important;
    font-size: 0.8em;
}

.human:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #E74137;
}

.management-page-row{
    margin-top: 3%;
}

.management-page-col{
    margin-top: 20px;
}

@media screen and (max-width:684px) {
    .management-page-row{
        display: block;
    }
}