.awards-container{
    width: 83%;
    margin: 0 auto;
    padding: 0 0 6em 0;
}

.awards-label{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    color: #E74137;
    margin-top: 5%;
}

.awards-info{
    margin-top: 5%;
}

.awards-col-text{
    padding: 2em 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}