.certificates-page-container{
    width: 83%;
    margin: 0 auto;
    padding: 0 0 6em 0;
}

.certificates-page-row-col{
    margin-top: 3%;
}

@media (max-width:767px) {
    .certificates-page-image-list{
        display: block;
    }
}