.trust {
    /* padding: 0 0 5em 0; */
    width: 83%;
    margin: 0 auto !important;
}

.trustLabel{
    height: 100%;
    margin-top: 10%;
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 43px;
    text-align: center;
}

.trustLabel p{
    color: #E74137;
}

.trust .carousel-indicators{
    display: none;
  }

.trust .carousel-control-prev-icon{
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
  }
  
.trust .carousel-control-next-icon{
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  }

 .trust .carousel-control-prev-icon, .trust .carousel-control-next-icon{
    padding: 1em !important;
    border-radius: 0;
  }

  .trust .carousel-item .row{
    padding: 0em 0em 2.8em 0em;
    /* width: 60%; */

    margin: 0 auto;
}
.trust .carousel-item{
    padding: 1em 3em;
}

.trustRow .col img{
    width: 100%;
    height: auto;
}