.card-page-container{
    width: 83% !important;
    margin: 0 auto;
    padding: 0 0 6em 0;
    margin-top: 7%;
}

.cable-name{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 133.4%;
    color: #343753;
}

.lbl{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #E74137;
}

.outer-sheath-info{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.7em;
    margin-top: 5%;
    width: 60%;
}

.lbl-info{
    margin-top: 10px;
}

.text-rows{
    margin-top: 5%;
}

.table{
    width: 60%;
    border: 1px solid black;
}

.span-bold{
    font-weight: 700;
}

.card-page-container li::marker{
    color: #E74137;
}