.second-banner-container {
  position: relative;
  margin-top: 200px;
  overflow-x: hidden;
}

.second-banner-image{
  position: relative;
  width: 100%;
}

.second-banner-info{
  position: absolute;
  top:15%;
  width: 65%;
  right: 0;
}

.second-banner-label{
  color:#E74137 !important;
  font-family: 'Lato-900-normal';
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  margin-top: 30px;
}

.label-amount{
  color: #E74137;
  font-family: 'Raleway-800-normal';
  font-size: 36px;
  line-height: 42px;
}

.label-value{
  font-family: 'Raleway-400-normal';
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  width: 200px;
  margin-top: 4px;
}

.second-banner-common-grid{
  margin-top: 43px;
}

.value-description{
  font-family: 'Raleway-300-normal';
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  width: 242px;
  text-align: left;
}

@media screen and (max-width:1672px) {
  .second-banner-info{
    position: absolute;
    top:10%;
    width: 65%;
    right: 0;
  }
  
  .second-banner-label{
    font-size: 34px;
    line-height: 40px;
  }
  
  .label-amount{
    font-size: 34px;
    line-height: 40px;
  }
  
  .label-value{
    font-size: 16px;
    line-height: 19px;
    width: 200px;
    margin-top: 2px;
  }
  
  .second-banner-common-grid{
    margin-top: 30px;
  }
  
  .value-description{
    font-size: 12px;
    line-height: 14px;
    margin-top: 8px;
  }
}

@media screen and (max-width:1400px) {
  .second-banner-info{
    position: absolute;
    top:10%;
    width: 62%;
    right: 0;
  }
  
  .second-banner-label{
    font-size: 22px;
    line-height: 38px;
    margin-top: 24px;
  }
  
  .label-amount{
    font-size: 30px;
    line-height: 38px;
  }

  .second-banner-common-grid{
    margin-top: 18px;
  }
  
  .label-value{
    font-size: 16px;
    line-height: 17px;
  }
  
  .value-description{
    font-size: 12px;
    line-height: 12px;
    margin-top: 6px;
  }
}

@media screen and (max-width:1200px) {
  .second-banner-info{
    position: absolute;
    top:8%;
    width: 65%;
    right: 0;
  }
  
  .second-banner-label{
    font-size: 22px;
    line-height: 34px;
    margin-top: 10px;
  }
  
  .label-amount{
    font-size: 24px;
    line-height: 38px;
  }
  
  .label-value{
    font-size: 14px;
    line-height: 14px;
  }
  
  .second-banner-common-grid{
    margin-top: 10px;
  }
  
  .value-description{
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width:1000px) {
  .second-banner-image{
    display: none;
  }

  .second-banner-container{
    background: #F4F9FF;
    height: 350px;
  }

  .second-banner-info{
    position:relative;
    top:50px;
    width: 90%;
    margin: 0 auto;
    left: 40px;
  }
}

@media screen and (max-width:778px) {
  .second-banner-info{
    top:0;
    text-align: center;
    padding: 2em 0;
    left: 25px;
    height: 100%;
  }

  .second-banner-label{
    margin-top: 20px;
  }

  .second-banner-info div.row{
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
  }

  .second-banner-common-grid{
    margin-top: 30px;
  }

  .second-banner-common-grid .col{
    display: inline-block;
    float: none;
    padding-bottom: 50px;
  }

  .second-banner-common-grid .col .row{
    white-space:normal;
  }

  .second-rows-section{
    margin-top: 40px;
  }

  .value-description{
    text-align: center !important;
  }
}