.press-center-page-conteiner{
    width: 83%;
    margin: 0 auto;
    padding: 0 0 6em 0;
}

.press-center-page-label{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    color: #E74137;
    margin-top: 5%;
}

.press-center-page-row{
    margin-top: 3%;
}

.press-center-page-col{
    margin-top: 20px;
}

.press-center{
    border-radius: 5px;
    padding: 1em;
    text-align: center;
}

.press-center:hover .read-button{
    display: inline-block;
}

.press-center-name{
    text-transform: uppercase !important;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #343753;
}

.press-center:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #E74137;
}

.info-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-align: left;
}

.read-button{
    display: none;
    background: #E74137;
    border-color: #E74137;
    padding: 1em 3em;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-style: none;
}

.read-button:hover{
    background: #ff493f;
    border-color: #ff493f;
}

.read-button:active{
    background: #aa2d26;
    border-color: #aa2d26;
}

.read-button:disabled{
    background: #E74137;
    border-color: #E74137;
}